@font-face {
    font-family: "Montserrat-Medium";
    src: url("/public/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("/public/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Regular";
    src: url("/public/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Semi-Bold";
    src: url("/public/fonts/Inter-Semi-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
