@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";

* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body,
#app {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    color: $txt-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include montserrat-bold;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

div,
p,
input,
form {
    box-sizing: border-box;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}
