@mixin montserrat-medium {
    font-family: "Montserrat-Medium", sans-serif;
}

@mixin montserrat-bold {
    font-family: "Montserrat-Bold", sans-serif;
}

@mixin inter-regular {
    font-family: "Inter-Regular", sans-serif;
}

@mixin inter-semi-bold {
    font-family: "Inter-Semi-Bold", sans-serif;
}
